<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body {% if page.mysetting.background-color %}style="background-color:{{page.mysetting.background-color}};"{% endif %}>

    {% if page.mysetting.display != 'fullscreen' %}
      {%- include header.html -%}
    {% endif %}

    <main class="page-content" aria-label="Content" {% if page.mysetting.display == 'fullscreen' %}style="padding: 0;"{% endif %}>
    {% if page.mysetting.nowrapper %}
        {{ content }}
    {% else %}
      <div class="wrapper">
        {{ content }}
      </div>
    {% endif %}
    </main>

    {% if page.mysetting.display != 'fullscreen' %}
      {%- include footer.html -%}
    {% endif %}

  </body>

</html>
